*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color:rgb(147, 196, 209); */
    font-family: 'Ubuntu', sans-serif;
    background-color: #CAF1DE;
    
}
#maindive{
    margin-top:6vh;
   
   

}
#container_div{
    
}
.card{
    background-color: #E1F8DC;
    padding-top:2vh;
    margin-bottom:2.7vh;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

    
}
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 2px 5px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.06);

}
#heading{
    text-align: center;
    font-size: 5vh;
    margin-bottom: 4vh;
}
.quest_containet{
    /* height: 66vh; */
    margin-bottom:5vh;
   
}
.paragraph{
    font-size: 3.2vh;
}
.form-check{
    font-size: 2.7vh;  
    font-style: bold;
    color: black;
}
.form_check_one{
/*     margin-top: vh; */
    
}
.form_check_two{
    margin-top: 1.2vh;
    
}
#submit_btn_div{
    margin-top: 1vh;
    font-size: 4vh;
    text-align: center;
    padding:2vh;
}
#submit_btn
{
    font-size: 3.6vh;
    border-radius: 6%;
}


