*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html
{
	scroll-behavior: smooth;
}

a
{
	text-decoration: none;
	
	
}
#logo_llink
{
	font-family: 'Akaya Kanadaka', cursive;
	font-size: 2.4rem;
	color: white;
	text-shadow: 2px 2px 4px gray;
	margin-left: 4%;
	/*margin-bottom: -3vh; 
	*/rgin-top: -1vh;
	position:relative;
	position: relative;
}
nav div ul
{
	font-size: 1.2rem;
	margin-right: 5rem;
}

.after_link_div
{
	ackground-image: linear-gradient(rgba(0,168,225,0.1), rgba(0,168,225,0.4)); 
	margin-bottom: 2.5vh;
	background-image: linear-gradient(rgba(0,168,225,0.1), rgba(0,168,225,0.1)) , url("lptop.jpeg");
	width: 100%;
	height: 100vh;
	clip-path: polygon(100% 0%, 100% 87%, 60% 100%, 0 85% , 0 0); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.nav-item a
{
	color:#0C090A!important;
}
.nav-item a:hover
{
	color:red;
	box-shadow: 0 0 1.2rem rgba(0, 0 , 0, 0.3);
}
.after_link_div:before
{
	content: ""
	position:relative;
	top: 2%;
	bottom: 0%;
	left: 0%;
	right:5%;
	opacity: .1;
	z-inex: -1;
	background:linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c7fe 100%);
}

.divmain2
{
	/*margin-top: 20vh;*/
}

.header-section
{
	width:100%;
	height: inherit;
	color: #2C3539;
	argin-top: 100px: 
	text-align: center;
	position: relative;
	argin-left:  27vh;
	font-family: 'Noto Serif', serif;
	font-weight: bold;
}

.header-buttons a
{
border: 1px solid gray;
border-radius: 100px;
margin:0 5px;
padding:6px 20px;
outline: none;
color:black;
font-size: 1rem;
font-weight: 400;
line-height: 1.4;
text-align: center; 
font-size: 1.3rem;
}


#heading
{
	/*font-size: 1.8rem;*/
	
	/*color: black;*/
	width:0ch;
	overflow: hidden;
	white-space: nowrap;
	animation: name 6s steps(10) infinite alternate;
	border-right: 3px solid black;
	/*color:#2C3539;*/
	color: black;
	font-size: 1.8rem;
	margin-left: 44%;
}

@keyframes name{
0%{
	width:0ch;
}
50%{
	width: 10ch;
}
}

@keyframes susbscribe{
0%{
	width:0ch;
}
50%{
	width: 27ch;
}
}

#Subscribe_heading
{
	width:0ch;
	overflow: hidden;
	white-space: nowrap;
	animation: susbscribe 6s steps(27) infinite alternate;
	border-right: 3px solid black;
	/*color:#2C3539;*/
	color: black;
	font-size: 2.0rem;
	text-align: center;
	margin-left: 26%;
}
.center-div
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 85%;
	left:52%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.1rem; 
}

.header-buttons a:hover{

	color:#50d1c0;
	background:#fff;
	text-decoration: none;
	box-shadow: 0 0 15px rgba(0, 0 , 0, 0.3);
}


/*About */

.about_section
{
	height: 100vh;
	padding: 100px 0!important;
	
	position: relative;
}

.about_section
{
	width: 100%;
	height: 100vh;
	padding: 50px;
	position: relative;
}
.about_section:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:linear-gradient(155deg, #16c9f6 55%, #fff 0%);
	opacity: .1;
	z-index: -1;
}

#sushil_img
{
	border: 1px solid black;
	border-radius: 50%;
}
.about_row_div
{
	outline: none!important;
	border-style: none!important;
	color:white;
	border : none !important;

}

.about_para
{
	color: black;
	text-align: left;
	justify-content: left;
	line-height: 1.8;
	padding: 30px;
	font-size: 1.1rem;
}

/*My skill*/

.skill
{
	width: 100%;
	height: 100vh;
	padding: 50px;
	position: relative;
}
.skill:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:linear-gradient(155deg, #16c9f6 55%, #fff 0%);
	opacity: .1;
	z-index: -1;
}

.img_pro
	{
		margin-top:20px; 
	}
.skillimg
{
	width: 10%;
	height: auto;
	border:0px solid black;
	border-radius: 50%;
}


/*My work*/
.mywork
{
	
	width: 100%;
	height: 100vh;
	padding: 50px;
	position: relative;
}

.mywork:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: .2;
	z-index: -1;
	background:linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}

.work_img
{
	width: 100%;
	object-fit: fill;
}

.card
{
	transition: 0.5s ease;
	margin: 2px!important;
}

.card-header
{
	font-size: 1.6rem;
	font-weight: bold;
	background:#fff!important;
	padding: 20px 9!important;
}

.card-body
{
	padding: 0px 0px!important;
}
.card-footer
{
	background:#fff!important;
	padding: 10px 0px!important;
}


.card-footer a
{
border: 1px solid #50d1c0;
border-radius: 100px;
margin:0 5px;
padding:6px 20px;
outline: none;
color:black;
font-size: 1rem;
font-weight: 400;
line-height: 1.4;
text-align: center; 
font-size: 1.3rem;
}

.card:hover .card-footer a:hover{

	color:#fff;
	background:#50d1c0;
	text-decoration: none;
	box-shadow: 0 0 15px rgba(0, 0 , 0, 0.3);
}

.card:hover
{
	transform: translateY(-20px);
	box-shadow: 0 0 15px rgba(0, 0 , 0, 0.3);
}

.card:hover .card-header
{
	color:#50d1c0;
}


/*Contact us*/
.contactus{
	margin-top: 20px;
	width: 100%;
	height: 100vh;
	padding: 90px 0;
	position: relative;
}

.contactus:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:linear-gradient( 332deg, #fff 0%, #97CAEF 55%);
	opacity: .4;
	z-index: -1;
}

#form-button button
{
	border:1px solid gray;
	border-radius: 100px;
	margin: 0 4px;
	padding: 1rem 2rem;
	outline: none;
	color:black;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.3;
	text-align: center; 
	background:transparent;
}

form:hover #form-button button
{
	background:#fff;
	color:#50d1c0;
	box-shadow: 0,0, 20px, 0 rgba(0,0,0,0,0.3)
}


/*news letter*/
#Subscribe_heading
{
font-family: 'Noto Serif', serif!important;
font-family: 'Akaya Kanadaka', cursive;	
}

.newsletter
{
	width: 100%;
	height: auto;
	margin:80px auto;
}
.news-input
{
	border-radius: 100px 0px 0px 100px!important;
	min-width: 150px;
	min-height: 40px;

}

.input-group-text
{
	color:#fff!important;
	background:#5bc0de!important;
	border-radius: 0 100px 100px 0!important;
	min-width: 130px;
	min-height:41px;
}

/*Footer*/

.footersection
{
	width: 100%;
	height:auto;
	padding: #00abff;
	position: relative;
	background-color:#1569C7;
}
.footersection p
{
	color:blue;
	justify-content: center;
	color: #fff;
}
.footersection li a{
	font-stretch: 0.9rem;
	font-weight: 400;
	line-height: 1.6;
	color: #fff;


}
.footersection li{
	list-style-type: none;
}

.footersection h3 {
	color:#fff;
	margin-bottom: 2rem;
	font-size: 1.2rem!important;
	font-weight:600;
	text-shadow: 0 2px 8px rgba(0,0,0,0,0.3)
}

/*arrow design*/
#mybtn
{
	isplay: none;
	position: fixed;
	bottom:24px;
	right: 45px;
	z-index: 99;
	border:none;
	color:blue;
	background: #2C3539;
	padding:10px;
	border-radius: 10px;
	
}
#mybtn:hover{
	background:#57FEFF;
}

/*Social media icons*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.iconify:hover
{
opacity:0.6;
}

.fa:hover {
    opacity: 0.7;
    outline: none;
    text-decoration: none;
}



.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background:black;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.

.fa-instagram {
  background: #125688;
  color: white;
}

.icon
{
	width: 100%;
	text-align: center;
	margin-top: 10px;
  
}

/*media quaries*/

@media(min-width: 769px)
{
	#cs_library
	{
		height: 163px!important;
	}
}
@media(max-width:768px)
{


#heading
{
	/*font-size: 1.8rem;*/
	
	/*color: black;*/
	width:0ch;
	overflow: hidden;
	white-space: nowrap;
	animation: name 6s steps(10) infinite alternate;
	border-right: 3px solid black;
	/*color:#2C3539;*/
	color: black;
	font-size: 1.8rem;
	margin-left: 24%;
}

@keyframes name{
0%{
	width:0ch;
}
50%{
	width: 10ch;
}
}

	@keyframes susbscribe{
0%{
	width:0ch;
}
50%{
	width: 29ch;
}
}

.work_2_div
{
	padding-top: 30px;
}

#Subscribe_heading
{
	width:0ch;
	overflow: hidden;
	white-space: nowrap;
	animation: susbscribe 6s steps(27) infinite alternate;
	border-right: 3px solid black;
	/*color:#2C3539;*/
	color: black;
	font-size: 1.2rem;
	text-align: center;
	margin-left: 4%;
}
	.nav-item
	{
		text-align: center!important;
		color:blue;
	}
	.nav-item a
{
	color:#34282C!important;
}
	logo_llink
	{
		margin-left: 50%;
	}

	.skill
{
	width: 100%;
	height: auto;
	padding: 50px;
	position: relative;
}
	#mywork
	{
		height: auto;
		margin-top: 50px;
	}
	.contactus:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:linear-gradient( 332deg, #659DBD 45%, #97CAEF 10%);
	z-index: -1;
}
	#contactus
	{
		height: auto;
		margin-top:50px;
	}

	#about
	{
		height: auto;
		margin-top:30px;
	}
	.card-second
	{
		transform: translateY(0px);
		margin: 90px 0;
	}

	.newsletter
	{
		width: 100%;
		height: auto;
		margin-top: 190px; 
	}

	.footer-div:nth-child(2)
	{
		text-align: center;
	}

	.footer-div
	{
		margin:24px 0;
	}

		.after_link_div
{
	ackground-image: linear-gradient(rgba(0,168,225,0.1), rgba(0,168,225,0.4)); 
	margin-bottom: 2.5vh;
	background-image: linear-gradient(#659DBD, rgba(0,168,225,0.1)) , url("lp1.jpg");
	width: 100%;
	height: 100vh;
	clip-path: polygon(100% 0%, 100% 87%, 60% 100%, 0 85% , 0 0); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
}

@media(max-width: 400)
{

}

/*@media screen and (max-width: 300px) /* Mobile */
 {
  
	.newsletters
	{
		width: 100%;
		height: auto;
		margin-top: 250px;
	}
}
*/
/*@media (max-width:321px)
{
	.navbar-toggler{
width: 57px;
height: 49px;
background-color: gray;

}
	.nav-item
	{
		text-align: center!important;
		color:blue;
	}
	.nav-item a
{
	color:#34282C!important;
}
	logo_llink
	{
		margin-left: 50%;
	}

	#contactus
	{
		height: auto;
		margin-top:150px;
	}
	#about
	{
		height: auto;
		margin-top:50px;
	}

	#mywork
	{
		height: auto!important;
		margin-top:50px;
	}
	.newsletters
	{
		width: 100%;
		height: auto;
		margin-top: 250px;
	}

	.footer-div:nth-child(2)
	{
		text-align: center;
	}

	.footer-div
	{
		margin:24px 0;
	}
}*/
/*
@media only screen and (max-width: 600px) {
  .newsletters
	{
		width: 100%;
		height: auto;
		margin-top: 250px;

	}

	.footer-div:nth-child(2)
	{
		text-align: center;
		padding-right: 29%;
	}
	.naviagtion_div
	{
		text-align: center;
		margin-left: 50%;
	}
	#navigation_h
	{
		text-align: center;
		mrgin-left: -10px!!important;
	}
}*/
/*@media(max-width: 485px)
{

	.navbar-toggler{
width: 57px;
height: 49px;
background-color: gray;

}
	.nav-item
	{
		text-align: center!important;
		color:blue;
	}
	.nav-item a
{
	color:#34282C!important;
	font-weight: bold;
	font-size: 1.7rem;
}
	logo_llink
	{
		margin-left: 50%;
	}
	#contactus
	{
		height: auto;
		margin-top:50px;
	}
	#about
	{
		height: auto;
		margin-top:50px;
	}
	#mywork
	{
		height: auto!important;
		margin-top:50px;
	}
.newsletters
	{
		width: 100%;
		height: auto;
		margin-top: 250px;
	}
	.footer-div:nth-child(2)
	{
		text-align: left;
	}

	.footer-div
	{
		margin:24px 0;
	}	

	/*.card_div
	{
		margin-top: : 30px;
	}*/

}*/