
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gallery page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head><!--{% block style %} {% endblock style %}-->
<body>
<!--{% block nav %} {% endblock nav %}-->
<!--{% block carousel %} {% endblock carousel %}-->

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sushil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
           <!-- <li class="nav-item active">
                <a class="nav-link" href="/">Exam <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/GALLERY/gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CONTACTUS/contactus">Contact Us</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/ABOUT/about">About</a>
            </li>
        </ul>
    </div>
 </nav>
<div class="container-fluid">
    <center>
        <h2> <strong> Memorable Moment </strong> </h2>
        </center>
    <hr>
<!--  <p>The .thumbnail class can be used to display an image gallery.</p>-->
<!--  <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>-->
<!--  <p>Click on the images to enlarge them.</p>-->
  <div class="row">
    <div class="col-md-4 ">
      <div class="thumbnail">
<!--        <a href="/w3images/lights.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?sun,moon" alt="Lights" style="width:100%">
<!--          <div class="caption">-->
<!--&lt;!&ndash;            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>&ndash;&gt;-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/nature.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?flower" alt="Nature" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/fjords.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?natural beauty" alt="Fjords" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
  </div>
<hr>
<!-- second row    -->
    <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/lights.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?natural" alt="Lights" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/nature.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?beautiful" alt="Nature" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/fjords.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?moon" alt="Fjords" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
  </div>
<a type="button" class="btn-floating btn-git btn-sm">
        <i class="fab fa-github"></i>
    hfhsdgd
      </a>
</div>
 <a href="https://wa.me/9554646248">whatsapp</a>
<hr>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/lights.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?sun" alt="Lights" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/nature.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?beautiful kids" alt="Nature" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/fjords.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?beatiful girl" alt="Fjords" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
  </div>
<hr>
<!-- second row    -->
    <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/lights.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?beauty" alt="Lights" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/nature.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/? love" alt="Nature" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
<!--        <a href="/w3images/fjords.jpg" target="_blank">-->
          <img src="https://source.unsplash.com/1600x719/?nature" alt="Fjords" style="width:100%">
<!--          <div class="caption">-->
<!--            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>-->
<!--          </div>-->
<!--        </a>-->
      </div>
    </div>
  </div>

</div>
<form  action="add_img" method="post"   >
     {% csrf_token %}

    <input type = "file" name = 'image'><br>
    <input type="submit" value = "upload img"> <br>

</form>
<!--<p> {{d}}</p>-->
 {% for u in d %}
<p> {{u.pic.url}} </p>
<img src="{{u.pic}}" />
 {% endfor %}
<!-- <img src="/media/photos/Screenshot_from_2020-06-08_08-23-10_WQUWBQn.png" alt="Nature" style="width:100%">-->

<!--<img src="/media/photos/Screenshot_from_2020-06-08_08-23-10_WQUWBQn.png" />-->

</body>
</html>


