<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mind game </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--    nav style from Home.html-->
    <style>
    #time_div
	{

		   position: fixed;
		   top: 10vw;
           right: 1.6vw;
		   font-size:2vw;
		   color: red;
	}
  #login_signup {
  padding-right: 0;
  padding-left: 0;
  color:red;
  text-align: right;
 }
 #signup_btn
 {
 border: none;
 }
 #login_btn
 {
 border: none;
 }
</style>
<style>
  button
    {
     width:8.8vw;
     height:4vw;
     font-size:3.1vw;
     margin-left:1vw;
     }
     .button_div
     {
     display: none;
     margin-top:12.8vw;
     }
     #mind_geme_h
     {
     margin-top:.5vw;
     margin-bottom:2.8vw;
     }
     .prediv
     {
     font-size:2.4vw;
     font-weight:bold;
     padding-right:14.8vw;
     }


</style>
</head>
<body onload="timer()">
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sushil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/GALLERy1/gallery1">Gallery</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/CONTACTUS/contactus">Contact Us</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/ABOUT/about">About</a>
            </li>
        </ul>
<!--        {% block nav %}-->
        <ul class="navbar-nav " id = "login_signup">
                <li class="nav-item " class = "button" style="border:none;">
                    <button type="button" class="btn btn-outline-secondary" id = "login_btn"> <a class="nav-link" href="/SIGNUP2/login">Login</a> </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-secondary" id = "signup_btn"><a class="nav-link" href="/SIGNUP2/signup">Sign Up</a></button>
                </li>
        </ul>
<!--{% endblock nav %}&ndash;&gt;-->
    </div>
</nav>

<p id="time_div" >  </p>
<div class="container-fluid px-0 " >

     <div class="alert alert-success  alert-dismissible fade show" role="alert">
        <strong>!</strong> Count the numbers in a sequence
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> </div>
    <center><h1 id = "mind_geme_h"> Schulte Table </h1>
    <h3> Improve Reception & Processing Speed</h3></center><br>
    <center>
        <center> <div id = "print_div"></div></center>
    </center>

     <center>
    <div class = "button_div" id = "btn_div1"  >
        <pre class = "prediv">
            24   19   17  03  08
            01   09   25  18  02
            11   05   07  15  20
            04   06   22  12  16
            23   16   14  13  10
        </pre>
    </div>
     </center>
    <center>
    <div class = "button_div" id = "btn_div2"  >
                      <pre class = "prediv">
            04   19   07  03  18
            01   09   25  08  02
            11   15   17  05  10
            24   06   22  12  16
            23   16   14  13  20
                        </pre>
    </div>
     </center>
    <center>
    <div class = "button_div" id = "btn_div3"  >
        <pre class = "prediv">
            11   05   07  15  20
            04   06   22  12  16
            24   19   17  03  08
            23   16   14  13  10
            01   09   25  18  02
        </pre>
    </div>
     </center>
    <center>
    <div class = "button_div" id = "btn_div4"  >
        <pre class = "prediv">
            23   16   14  13  10
            11   05   07  15  20
            04   06   22  12  16
            24   19   17  03  08
            01   09   25  18  02

        </pre>
    </div>
     </center>
    <center>
    <div class = "button_div" id = "btn_div5"  >
        <pre class = "prediv">
            01   09   25  18  02
            24   19   17  03  08
            11   05   07  15  20
            23   16   14  13  10
            04   06   22  12  16
        </pre>
    </div>
     </center>
</div>
</body>
</html>

<script>
    function randomNumber(min, max) {
    return Math.floor(Math.random() * (max - min) + min);
}



// Function call
var s;
s = ( randomNumber(0, 5));
switch(s)
{
 case 1:
   p = document.getElementById("btn_div1").innerHTML;
   document.getElementById("print_div").innerHTML= p;
   break;
   case 2:
         p = document.getElementById("btn_div2").innerHTML;
         document.getElementById("print_div").innerHTML= p;
        break;
   case 3:
            p = document.getElementById("btn_div3").innerHTML;
            document.getElementById("print_div").innerHTML= p;
            break;
   case 4:
            p = document.getElementById("btn_div4").innerHTML;
            document.getElementById("print_div").innerHTML= p;
         break;
   case 5:
            p = document.getElementById("btn_div5").innerHTML;
            document.getElementById("print_div").innerHTML= p;
            break;
   default:
          p = document.getElementById("btn_div1").innerHTML;
          document.getElementById("print_div").innerHTML= p;
 }

</script>
<script>
   function timer()
{
	var time =  "00:00:31";
	var timer_div = document.getElementById("time_div");
	time_div.innerHTML = time;
	my_timer = setInterval(function t (){

		var time_up = false;
		t= time.split(":");
		var hr =  parseInt(t[0]);
		var min = parseInt(t[1]);
		var sec = parseInt(t[2]);

		if(sec == 0)
		{
			if(min>0)
			{
				sec = 59;
				min--;
			}
			else if(hr>0)
			{
				min = 59;
				sec = 59;
				hr--;
			}
			else
			{
				time_up =true;
			}
		}
		else
		{
			sec--;
		}
		time = hr+":"+min+":"+sec;
		if(time_up==true)
		{
			//time = "Time Out";
		}
		time_div.innerHTML = time;
		if(time_up==true)
		{

			time =  "00:00:00";

			function t () {
  				clearIntervel(time);

						}


		//time = "Time Out";
			//clearIntervel(time);

		}


	}, 1100);

}
</script>